.MainServiceHero {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
}

.MainServicePage {
  text-align: left;
  width: 80vw;
  margin: auto;
  font-weight: 300;
  letter-spacing: normal;
  line-height: 1.6;
}

.ServiceImage {
  height: 50vh;
  width: 50vw;
}

@media (max-width: 600px) {
  .ServicePage {
    width: 90vw;
    line-height: normal;
  }
  .ServicePage img {
    width: 90vw;
  }
}
