.MainHeroCarrers {
  background-image: url('/rocket.jpg');
  height: 40vh;
  background-position-x: 0;
  background-position-y: 20%;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: baseline;
  justify-content: left;
  padding-top: 10vh;
}

.heroTextCarrers {
  color: white;
  background-color: #152845;
  font-size: 6vh;
  padding: 1vh;
  margin: 2vh;
}

.CareersHero {
  padding-top: 10vh;
  padding-bottom: 5vh;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
}
