.enjoy {
  font-size: 40px;
  width: 45vw;
  margin: auto;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-bottom: 12vh;
}
.aboutus {
  font-weight: 800;
  font-size: 4.5rem;
}
em {
  font-style: italic;
  color: #01a9f4;
}

.aboutcontent {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.content45 {
  width: 40vw;
  text-align: left;
  font-size: 1.5rem;
  font-weight: 400;
}

@media screen and (max-width: 950px) {
  .enjoy {
    width: 100vw;
  }
  .aboutcontent {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
  .content45 {
    width: 75vw;
  }
}
