.NavFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  background-color: white;
}

.ham {
  display: none;
}

.cropxLogo {
  padding: 1vh;
}

.RightFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.RightFlex div a{
  margin: 2vh;
  font-size: large;
  color: black;
  text-decoration: none;
}

.RightFlex div a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 950px) {
  .RightFlex {
    display: none;
  }
  .ham {
    display: flex;
    padding: 2vh;
  }
}
